:host {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

svg-keyboard {
    width: 85%;

    &:not(:first-child) {
        position: absolute;
        left: 0;
        top: 0;
        transform: translateX(-101%);
    }

    &.placeholder {
        visibility: hidden;
        display: inline-block;
    }
}

.keyboard-slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 2% 0;
}
.tooltip {
    position: fixed;
    transform: translate(-50%, -85%);

    &-inner {
        background: #fff;
        color: #000;
        box-shadow: 0 1px 5px #000;
        text-align: left;

        p {
            margin-bottom: 2px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    &.top {
        .tooltip-arrow {
            border-top-color: #fff;
        }
    }

    &.in {
        opacity: 1;
    }
}
